{% extends 'base.html' %}
{% block content %}
<br><br>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="../static/img/ProfilePhoto.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Md.Forhad Israfil</h5>
      <p class="card-text">Beginner at Python and Django.Now learning Django REST API.<br>
      GitHub: https://github.com/forhadisrafil</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div><br>
  <div class="card">
    <img class="card-img-top" src="../static/img/banner/3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Md.Abdul Baset</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>
{% endblock %}
